* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

body {
  border: 2px solid red;
  height: 100vh;
  background-color: bisque;

  display: flex;
  flex-direction: column;
}

.container {
  height: 100%;
  width: 960px;

  align-self: center;
  display: grid;
  position: relative; /*I'll be able to position the buttons inside container easily now */
}

.grid-items {
  border: 2px solid black;
}
.btn-reset {
  position: absolute; /*must include absolute otherwise cell at top left of the grid goes missing which make the grid look  weird */
  top: 20px;
  left: -200px;
}
