* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

body {
  height: 100vh;
  background: #238e40; /* fallback color */
  background: linear-gradient(to bottom right, #238e40, #008c61, #007c72);

  display: flex;
  flex-direction: column;
}

.container {
  height: 100%;
  width: 960px;

  align-self: center;
  display: grid;
  position: relative; /*I'll be able to position the buttons inside container easily now */
}

.grid-items {
  border: 2px solid black;
}
.btn-reset {
  position: absolute; /*must include absolute otherwise cell at top left of the grid goes missing which make the grid look  weird */
  top: 0px;
  left: -290px;
}
.btn {
  /*for all three buttons blackColor randomColor reset button */
  padding: 6px;
  width: 240px;
  border-radius: 18px;
  background-color: black;
  color: whitesmoke;
  font-size: 1.25rem;
}
.btn-random {
  position: absolute;
  top: 80px;
  left: -290px;
}
.btn-green {
  position: absolute;
  top: 160px;
  left: -290px;
}
